body {
    font-family: "Inter", sans-serif;
    background: #0e1823;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1210px;
    padding: 0 15px;
    margin: 0 auto;

}

.main-header {
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1080px;
    height: 48px;
    background: #fbfbfb;
    margin: 0 auto;
    padding: 4px 0;
    position: absolute;
    top:32px;
    left:100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
}

/* .main-header .container{display: flex;} */


.main-navigation {
    display: flex;
    align-items: center;
    gap: 296px;
}

.main-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navigation-list-item {}

.navigation-item-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    padding: 15px 25px;
    display: block;
}

.header-social-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-item {}

.header-social-link {
    background: #1b414b;
    color: #fbfbfb;
    width: 24px;
    height: 24px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}