body {
    font-family: "Inter", sans-serif;
    background: #0e1823;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1210px;
    padding: 0 15px;
    margin: 0 auto;

}

.main-header {
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1080px;
    height: 48px;
    background: #fbfbfb;
    margin: 0 auto;
    padding: 4px 0;
    position: absolute;
    z-index: 15;
    right: 50%;
     transform: translateX(50%);
     top: 32px;
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
}

/* .main-header .container{display: flex;} */


.main-navigation {
    display: flex;
    align-items: center;
    gap: 296px;
}

.main-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #1b414b;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navigation-list-item {}

.navigation-item-link {
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    background: rgba(27, 65, 75, 0.5);
    padding: 15px 25px;
    display: block;
}

.header-social-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-item {}

.header-social-link {
    background: #1b414b;
    color: #fbfbfb;
    width: 24px;
    height: 24px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    max-width: 1001px;

    margin: 0 auto 24px;
}

.hero {
    padding: 235px 0 180px;
    background: linear-gradient(360deg, rgba(17, 19, 31, 0.8) 15.05%, rgba(17, 19, 31, 0.8) 75.3%, rgba(17, 19, 31, 0.8) 98.27%), 
    url(../images/hero-background.webp);
    /* width: 1280px; */
    margin:0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.main-title {}

.hero-descr {
    max-width: 597px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 48px;
}

.hero-link {
    border-radius: 15px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
    background: #1b414b;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}


/* section about */
.about {}

.container {}

.about-yahtfleet {
    border-radius: 24px;
    background: #fbfbfb;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    /* height: 675px; */
}

.yahtfleet-wrap {
    width: 354px;
}

.yachtfleet {
    width: 537px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.yachtfleet-subtitle {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}

.yachtfleet-descr {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}